<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <h1 class="text-center bg-primary p-5 text-white m-0">The Solar System</h1>

    <%- include('partials/nav.ejs') %>

    <h2>Coming Soon: NASA Picture of the Day</h2>

    <%- include('partials/footer.ejs') %>

</body>

</html>